@font-face {
    font-family: 'Futura-Light';
    src: url('../Fonts/FuturaLT-Light.eot');
    src: url('../Fonts/FuturaLT-Light.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/FuturaLT-Light.woff') format('woff'),
         url('../Fonts/FuturaLT-Light.ttf') format('truetype'),
         url('../Fonts/FuturaLT-Light.svg#FuturaLT-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Book';
    src: url('../Fonts/FuturaLT-Book.eot');
    src: url('../Fonts/FuturaLT-Book.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/FuturaLT-Book.woff') format('woff'),
         url('../Fonts/FuturaLT-Book.ttf') format('truetype'),
         url('../Fonts/FuturaLT-Book.svg#FuturaLT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Book-Oblique';
    src: url('../Fonts/FuturaLT-BookOblique.eot');
    src: url('../Fonts/FuturaLT-BookOblique.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/FuturaLT-BookOblique.woff') format('woff'),
         url('../Fonts/FuturaLT-BookOblique.ttf') format('truetype'),
         url('../Fonts/FuturaLT-BookOblique.svg#FuturaLT-BookOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}



/****************************** Whole Page Setup *******************************/






.home {
	background: url('../img/inside.jpg') no-repeat center top fixed;
}

.homecontent {
	width: 100%;
	height:600px;
	margin: 0 auto;
}


.homecontent h5 { 
	text-align: center;
	margin: 72px 0 24px 0;
	font-family: "Futura-Light", sans-serif;
	font-size: 42px;
	line-height: 32px;
	font-weight: 100;
	letter-spacing: 1px;
	color: #6b0015;
		text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.49);
}

.homecontent p {
	margin: 0 auto;
	font-family: "Futura-Book-Oblique", sans-serif;
	font-size: 18px;
	color: #4a4a4a;
	text-align: center;
	padding-bottom: 72px;
	/*	text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.49); */
}

.homecontent a {
	font-family: "Futura-Book-Oblique", sans-serif;
	font-size: 18px;
	color: #6b0015;
	text-align: center;
	margin-top: 24px;
	padding-bottom: 72px;
	text-decoration: underline;
	/*	text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.49); */
}

.mainWrap{
	margin: 72px 0;
	width: 100%;
}

.drop-pin {
	height: 145px;
	display: block;
	position: relative;
	text-align: justify;
	white-space: normal;
	font-size: 0;
}

.drop-pin:after {
	content: "";
	width: 100%;
	display: inline-block;
}

.drop-pin div {
	width: 120px;
	height: 120px;
	display: inline-block;
	margin: 0;
}
.event1:after {
	content: "";
	width: 100%;
	display: inline-block;
}


.drop-pin div h1 { 
	margin: 40px 0 5px 0;
	color: #bc9847;
	padding-left: 5px;
	font-family: "Futura-Light", sans-serif;
	font-size: 20px; 
	text-align: center;
	
}
		.title1 {
			color: #6b0015;
			text-decoration: underline;
			font-family: "Futura-Light", sans-serif;
		}
		
		.title2 {
			color: #bc9847;
			text-decoration: underline;
			font-family: "Futura-Light", sans-serif;
		}
		.title3 {
			color: #2a3411;
			text-decoration: underline;
			font-family: "Futura-Light", sans-serif;
		}
.drop-pin div a { 
	color: #2a3411;
	font-family: "Futura-Light", sans-serif;
	text-shadow: -1px 0px 0px rgba(250, 250, 250, 0.49);
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
}

.drop-pin div p { 
	height: 50px;
	width: 100%;
	margin: 5px 0;
	text-align: center;
	color: #777;
	padding-left: 0px;
	letter-spacing: 1px;
	font-family: "Futura-Light", sans-serif;
	line-height: 16px;
	font-size: 16px; 
	text-shadow: -1px 0px 0px rgba(250, 250, 250, 0.49);
}
.event1 {
	padding-bottom: 24px;
	display: block;
	text-align: justify;
	white-space: normal;
	width: 120px;
	height: 145px;
}



.pin {
display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50% 50% 50% 0;
  background: #6b0015;
  margin: -20px 0 0 -20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
           box-shadow: inset 0px 2px 0px #4B0505;
}
  .pin:after {
    content: "";
    width: 40px;
    height: 40px;
    margin: 40px 0 0 40px;
    position: absolute;
    background: #f6f6f6;
    border-radius: 50%;
	box-shadow: inset 0px 2px 0px #f0f0f0;
}

	.pin2 {
		display: inline-block;
		width: 120px;
		  height: 120px;
		  border-radius: 50% 50% 50% 0;
		  background: #bc9847;
		  margin: -20px 0 0 -20px;
		  transform: rotate(-45deg);
		  -webkit-transform: rotate(-45deg);
		     -moz-transform: rotate(-45deg);
		       -o-transform: rotate(-45deg);
		           box-shadow: inset 0px 2px 0px #A8906C;
		}
			  .pin2:after {
			    content: "";
			    width: 40px;
			    height: 40px;
			    margin: 40px 0 0 40px;
			    position: absolute;
			    background: #f6f6f6;
			    border-radius: 50%;
				box-shadow: inset 0px 2px 0px #f0f0f0;
			}

				.pin3 {
		display: inline-block;
		width: 120px;
		  height: 120px;
		  border-radius: 50% 50% 50% 0;
		  background: #2a3411;
		  margin: -20px 0 0 -20px;
		  transform: rotate(-45deg);
		  -webkit-transform: rotate(-45deg);
		     -moz-transform: rotate(-45deg);
		       -o-transform: rotate(-45deg);
		           box-shadow: inset 0px 2px 0px #111407;
		}
			  .pin3:after {
			    content: "";
			    width: 40px;
			    height: 40px;
			    margin: 40px 0 0 40px;
			    position: absolute;
			    background: #f6f6f6;
			    border-radius: 50%;
				box-shadow: inset 0px 2px 0px #f0f0f0;
			}
